html,
body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    background: #000;
}

.dashboard {
    width: 100vw;
    height: 100vh;

    display: grid;

    /*
        Change these whenever you want.

        Current:
        VeinzFlow = 72%
        Calendar  = 28%
    */

    grid-template-columns: 72% 28%;

    gap: 0;
}

.panel {
    width: 100%;
    height: 100%;

    border: 0;

    margin: 0;
    padding: 0;

    display: block;
}